<div class="centered-content">
    <div class="modal-box">
        <h1 class="title" style="color: yellow;">Create a New List</h1>
        <input #listTitleInput class="input input is-rounded control" type="text" placeholder="Title For New List">
        <div class="button-group field is-grouped">
            <p class="control">
              <button class="button" routerLink='/'>
                Cancel
              </button>
            </p>
            <p class="control" (click)= "createList(listTitleInput.value);">
              <button class="button">
                Add List
              </button>
            </p>
          </div>
    </div>
</div>