<div class="centered-content">
    <div class="main-container">
        <div class="list-sidebar">
            <div class="title">Lists</div>
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]"
                    routerLinkActive="is-active">
                    <p>{{ list.title }}</p>
                </a>
            </div>
            <div class="button" routerLink="/new-list">+ New List</div>
        </div>
        <div class="task-view-container">
            <div *ngIf='!tasks' class="centered-content">
                <div class='title' style="font-size: medium;color: aqua;align-self: center;">
                    Please Select a List From the Sidebar
                </div>
            </div>
            <div *ngIf='tasks' style="display: flex;flex-direction: column;flex-grow: 1;">
                <div class="top-bar">
                    <div class="title">Tasks</div>
                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <button class="button">
                                <span class="icon is-small">
                                    <i class="fas fa-cog"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" style="align-self: flex-end;">
                            <div class="dropdown-content">
                                <a class="dropdown-item">
                                    Edit
                                </a>
                                <a class="dropdown-item">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="task-menu">
                    <div class="task-menu-item" *ngFor="let task of tasks" (click)="OnTaskClick(task);"
                        [ngClass]='{"complete": task.completed}'>
                        <p>{{ task.title }}</p>
                    </div>
                    <div *ngIf='tasks.length===0' class="centered-content">
                        <div class='title' style="font-size: medium;color: aqua;align-self: center;">
                            No Tasks. Click the
                            + icon to add a Task
                        </div>
                    </div>
                </div>
                <div class="button-flex">
                    <button class="circle-add-task-button button" routerLink="./new-task">
                        +
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>